@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {

  body{
    @apply font-sans bg-gradient-to-br from-purple-50;
  }

  .component-title {
    @apply text-lg font-semibold text-gray-600;
  }

  .primary-button {
    @apply text-white bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-purple-300 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 cursor-pointer shadow-lg;
  }

  .text-error{
    @apply text-red-400 text-xs;
  }

  .sec {
    @apply text-purple-700 hover:text-white font-medium rounded-lg text-sm px-5 py-1.5 text-center me-2 cursor-pointer border-purple-700 hover:bg-gradient-to-r hover:from-purple-500 hover:via-purple-600 hover:to-purple-700 bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-purple-300;
  }
.secondary-button {
  @apply text-purple-700 border border-purple-700 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 cursor-pointer 
  hover:text-white hover:bg-gradient-to-r hover:from-purple-500 hover:via-purple-600 hover:to-purple-700 
  focus:ring-4 focus:outline-none focus:ring-purple-300 dark:focus:ring-purple-800 shadow-lg;
}


  .navbar-register-button {
    @apply text-purple-700 hover:text-white hover:bg-gradient-to-r hover:from-purple-500 hover:via-purple-600 hover:to-purple-700 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 cursor-pointer;
  }

  .input-field {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block;
  }

  .text-description {
    @apply text-sm text-gray-500;
  }

  .inactive-span {
    @apply bg-yellow-100 text-yellow-800 text-base font-medium me-2 px-2.5 py-0.5 rounded-sm;
  }

  .tag-span {
    @apply bg-indigo-100 text-indigo-800 text-base font-medium me-2 px-2.5 py-0.5 rounded-sm;
  }
}

@theme {
  --font-poppins:"Manrope", sans-serif;
}

.line-clamp-1 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.line-clamp-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}




